In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
import io
%cd "C:\Users\Neha singh\Desktop\datasets"

C:\Users\Neha singh\Desktop\datasets

In [4]:
cars=pd.read_csv("mtcars.csv")

In [5]:
print (cars.shape)

(32, 12)

In [6]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [7]:
cars.columns

Index(['model', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [8]:
cars.mpg.describe()

count    32.000000
mean     20.090625
std       6.026948
min      10.400000
25%      15.425000
50%      19.200000
75%      22.800000
max      33.900000
Name: mpg, dtype: float64

In [9]:
cars.model.describe()

count            32
unique           32
top       Mazda RX4
freq              1
Name: model, dtype: object

In [10]:
cars.cyl.describe()

count    32.000000
mean      6.187500
std       1.785922
min       4.000000
25%       4.000000
50%       6.000000
75%       8.000000
max       8.000000
Name: cyl, dtype: float64

In [11]:
cars.disp.describe()

count     32.000000
mean     230.721875
std      123.938694
min       71.100000
25%      120.825000
50%      196.300000
75%      326.000000
max      472.000000
Name: disp, dtype: float64

In [12]:
cars.hp.describe()

count     32.000000
mean     146.687500
std       68.562868
min       52.000000
25%       96.500000
50%      123.000000
75%      180.000000
max      335.000000
Name: hp, dtype: float64

In [13]:
cars.drat.describe()

count    32.000000
mean      3.596563
std       0.534679
min       2.760000
25%       3.080000
50%       3.695000
75%       3.920000
max       4.930000
Name: drat, dtype: float64

In [14]:
cars.wt.describe()

count    32.000000
mean      3.217250
std       0.978457
min       1.513000
25%       2.581250
50%       3.325000
75%       3.610000
max       5.424000
Name: wt, dtype: float64

In [15]:
cars.qsec.describe()

count    32.000000
mean     17.848750
std       1.786943
min      14.500000
25%      16.892500
50%      17.710000
75%      18.900000
max      22.900000
Name: qsec, dtype: float64

In [16]:
cars.vs.value_counts()

0    18
1    14
Name: vs, dtype: int64

In [17]:
cars.am.value_counts()

0    19
1    13
Name: am, dtype: int64

In [18]:
cars.gear.describe()

count    32.000000
mean      3.687500
std       0.737804
min       3.000000
25%       3.000000
50%       4.000000
75%       4.000000
max       5.000000
Name: gear, dtype: float64

In [19]:
cars.carb.describe()

count    32.0000
mean      2.8125
std       1.6152
min       1.0000
25%       2.0000
50%       2.0000
75%       4.0000
max       8.0000
Name: carb, dtype: float64

In [20]:
cars.columns

Index(['model', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [21]:
numericcols=cars[['mpg','cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb']]

In [22]:
numericcols.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [23]:
from sklearn.preprocessing import StandardScaler

In [24]:
scaler=StandardScaler()

In [25]:
numeric_scaled=scaler.fit_transform(numericcols.iloc[:,0:11])

In [26]:
pd.DataFrame(numeric_scaled,columns=['mpg','cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb']).head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0.153299,-0.106668,-0.579750,-0.543655,0.576594,-0.620167,-0.789601,-0.881917,1.208941,0.430331,0.746967
1,0.153299,-0.106668,-0.579750,-0.543655,0.576594,-0.355382,-0.471202,-0.881917,1.208941,0.430331,0.746967
2,0.456737,-1.244457,-1.006026,-0.795570,0.481584,-0.931678,0.432823,1.133893,1.208941,0.430331,-1.140108
3,0.220730,-0.106668,0.223615,-0.543655,-0.981576,-0.002336,0.904736,1.133893,-0.827170,-0.946729,-1.140108
4,-0.234427,1.031121,1.059772,0.419550,-0.848562,0.231297,-0.471202,-0.881917,-0.827170,-0.946729,-0.511083

In [27]:
from sklearn.preprocessing import MinMaxScaler

In [28]:
normalize=MinMaxScaler()

In [29]:
numeric_normalize=normalize.fit_transform(numericcols.iloc[:,0:11])

In [30]:
pd.DataFrame(numeric_normalize,columns=['mpg','cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb']).head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0.451064,0.5,0.221751,0.204947,0.525346,0.283048,0.233333,0.0,1.0,0.5,0.428571
1,0.451064,0.5,0.221751,0.204947,0.525346,0.348249,0.300000,0.0,1.0,0.5,0.428571
2,0.527660,0.0,0.092043,0.144876,0.502304,0.206341,0.489286,1.0,1.0,0.5,0.000000
3,0.468085,0.5,0.466201,0.204947,0.147465,0.435183,0.588095,1.0,0.0,0.0,0.000000
4,0.353191,1.0,0.720629,0.434629,0.179724,0.492713,0.300000,0.0,0.0,0.0,0.142857

In [31]:
from sklearn.preprocessing import RobustScaler

In [32]:
robust=RobustScaler()

In [33]:
numeric_robust=robust.fit_transform(numericcols.iloc[:,0:11])

In [34]:
pd.DataFrame(numeric_robust,columns=['mpg','cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb']).head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0.244068,0.0,-0.176922,-0.155689,0.244048,-0.685298,-0.622665,0.0,1.0,0.0,1.0
1,0.244068,0.0,-0.176922,-0.155689,0.244048,-0.437424,-0.343711,0.0,1.0,0.0,1.0
2,0.488136,-0.5,-0.430364,-0.359281,0.184524,-0.976914,0.448319,1.0,1.0,0.0,-0.5
3,0.298305,0.0,0.300719,-0.155689,-0.732143,-0.106926,0.861768,1.0,0.0,-1.0,-0.5
4,-0.067797,0.5,0.797855,0.622754,-0.648810,0.111786,-0.343711,0.0,0.0,-1.0,0.0

In [35]:
numeric_scaled=pd.DataFrame(numeric_scaled,columns=['mpg','cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb']).reset_index(drop=True)

In [36]:
numericcols=numericcols.reset_index(drop=True)

In [37]:
objectcols=cars[['model']]

In [38]:
objectcols.head()

               model
0          Mazda RX4
1      Mazda RX4 Wag
2         Datsun 710
3     Hornet 4 Drive
4  Hornet Sportabout

In [39]:
from sklearn.preprocessing import LabelEncoder

In [40]:
le=LabelEncoder()

In [41]:
objectcols_labelEncode=objectcols.apply(le.fit_transform)

In [42]:
objectcols.head(3)

           model
0      Mazda RX4
1  Mazda RX4 Wag
2     Datsun 710

In [43]:
objectcols_labelEncode.head(3)

   model
0     17
1     18
2      4

In [44]:
objectcols_dummy=pd.get_dummies(objectcols)

In [45]:
objectcols_dummy.head(3)

,model_AMC Javelin,model_Cadillac Fleetwood,model_Camaro Z28,model_Chrysler Imperial,model_Datsun 710,model_Dodge Challenger,model_Duster 360,model_Ferrari Dino,model_Fiat 128,model_Fiat X1-9,...,model_Merc 280C,model_Merc 450SE,model_Merc 450SL,model_Merc 450SLC,model_Pontiac Firebird,model_Porsche 914-2,model_Toyota Corolla,model_Toyota Corona,model_Valiant,model_Volvo 142E
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
print(objectcols.shape)
print(objectcols_labelEncode.shape)
print(objectcols_dummy.shape)

(32, 1)
(32, 1)
(32, 32)

In [47]:
objectcols_labelEncode=objectcols_labelEncode.reset_index(drop=True)

In [48]:
cars_clean=pd.concat([numeric_scaled,objectcols_labelEncode],axis=1)

In [49]:
numericcols=numericcols.reset_index(drop=True)

In [50]:
cars_clean['mpg']=numericcols.mpg

In [51]:
cars_clean.columns

Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
       'carb', 'model'],
      dtype='object')

In [52]:
cars=cars.drop('mpg',axis=1)

In [ ]:
# Missing values in 4 numeric and 1 categorical
# Numeric - Mean or Median imputation
# Categorical - Mode or most_frequent
# mileage and maxpower - mean imputation
# engine and torque - median imputation
# seats mode imputation